html, body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-image: url(../images/motore-blur.jpg);
  background-position: center;
  background-size: cover;
  overflow: auto;
}

.topnav{
  position: fixed;
  top: 0;
  width: 100%;

}

.registrazione-form {
  width: 400px;
  min-height: 500px;
  height: auto;
  padding: 24px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow: auto;
  color: whitesmoke;
}

.registrazione-form input {
  height: 40px;
  border-radius: 4px;
  font-size: 18px;
  border: 1px solid whitesmoke;
}

.align-center{
  z-index: 0;
  margin-top: 56px;
  margin-bottom: 8px;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:rgba(0, 0, 0, 0.5);
}

#loginButton{
  padding: 14px 16px;
  background-color: #b71c1c;
  border: none;
  color: whitesmoke;
  font-size: 17px;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
}